.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 18px;
    border-left: 0.7rem solid #51b64b;
    border-radius: 0.5rem;
    background-color: #fff;
}

.title:hover {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    border-left: 0.7rem solid #2992d0;
    border-radius: 0.5rem;
}

.titles h4 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.titles h6 {
    font-size: 1.4rem;

}

.titles {
    width: 45%;
}

.title h5 {
    font-size: 1.5rem;
}

.title p {
    font-size: 1.5rem;
}

.viewbutton {
    font-size: 1.4rem;
    padding: 6px 12px;

}

.sidebarShow {
    display: none;
}

.typetitle {
    letter-spacing: 3px;
    font-size: 2rem;
}

.jobSideBar p,
.jobSideBar span {
    font-size: 14px;
}