.myBtnClass {
  width: 200px;
  font-size: 1.5rem;
  height: 40px;
  background-color:#2992d0 !important;
}
.myBtnClass{
border:none;
border:0;
box-shadow:none;
outline:none;
}
.searchInput{
    height: 40px;
}
.filterRow{
  background-color:rgba(0, 0, 0, .4);
  text-align:center;
}
.searchInput::placeholder{
  font-size: 1.5rem;
}
.searchInput{
  font-size: 1.4rem;
}
.allJobformtext{
font-size: 1.2rem;
}