footer {
  background-color: black;
  color: white;
  width: 90%;
  margin: auto;
  font-family: 'Montserat', sans-serif;
}

.footerList {
  list-style: none;
}

.footerList li {
  font-size: 1.2rem;
}

.footerName {
  color: #51b64b;
  font-weight: 500;
}

.footerList_coopyright {
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
}

.social_icon {
  display: flex;
}
.myBtnClassFooter{
    width: 70px;
    height: 26px;
    background-color:  #2992d0;
    border:none;
border:0;
box-shadow:none;
outline:none;
margin-top: -1px !important;
}
.footerSec{
    border-top: .2px solid gray;
}
.subscribeEmail{
    height: 26px;
    width: 200px;
    margin-top: -1px !important;
}
.labelHeader{
font-size: 1.5rem;
}
.footerHeaderText{
    color:#51b64b;
    letter-spacing: .2rem;
}
.labelHeaderText{
    letter-spacing: .2rem; 
}
.phoneNo{
    letter-spacing: .2rem;
    font-size: 1.2rem;
}