header {
  position: relative;
  border-bottom: 3px solid #51b64b;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.headerBlog {
  background-image: url("../assets/images/design-desk-eyewear-313690.jpg");
  height: 50vh;
}
.landingPageHeader {
  background-image: url("../assets/images/open-workspace-2.jpg");
  height: 100vh;
}

.adminHeader{
    background-image:  url("../assets/images/img1.jpg");
    height: 30vh;
}

.signUpPageHeader {
  background-image: url("../assets/images/open-workspace-2.jpg");
  height: 50vh;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(3, 11, 14, 0.801);
}
.homeHeaderText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.blogHeaderText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #fff;
  /*height: 100%;
   */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.signHeaderText{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.headerText__first {
  padding-left: 10px;
  font-size: 5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}
.section-title {
  padding-left: 10px;
  font-size: 3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.clientsheaderBorder {
  border-left: 0.7rem solid rgba(12, 202, 21, 0.4);
  margin: 0 auto;
  text-align: left;
  width: 700px;
  border-radius: 0.5rem;
}

.headerText{
  width:70vw;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align:center;
}
.jobsAvailable{
  font-size: 3rem;
  color:#51b64b;
  font-weight: 600;
}