body{
  background-color: #faf9f9;
}
.tableBorder{
  /* box-shadow: 5px 3px 5px 3px #888888; */
  margin: 7rem .6rem 0 20rem;
}
#title {
    text-align: center;
    font-weight: 550;
    font-family: arial, sans-serif;
    margin-bottom: 0;
    padding: 2rem;
    text-align: left;
  }
  
  #jobListing {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    padding-bottom: 2rem;
  }
  
  #jobListing td, #jobListing th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #jobListing tr:nth-child(even){background-color: #f2f2f2;}
  
  #jobListing tr:hover {background-color: #ddd;}
  button{
    border: none;
    border-radius: 2px;
    padding: .5em;
    color: #fff;
    background-color: #f06161;
  }
  #jobListing th {
    padding: 12px 0 12px 0;
    text-align: center;
    background-color: rgb(76, 119, 175);
    color: white;
  }
  .adminSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(76, 119, 175);
    width: 19rem;
    height: 100vh;
    position: fixed;
    top: 5.5rem;
    margin-right: 5rem;
    box-shadow: 2px 3px 15px 3px #888888;
  }
  .adminSidebar .text{
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    color: #4c77af;;
  }

  
  @media only screen and (max-width: 1150px) {
    .adminSidebar{
      width: 15rem;

    }
    .tableBorder{
      margin: 5rem .6rem 0 15rem;
    }
  } 
  .notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
   }